
<div class="row">
  <div class="col-sm-12">
    <label for="inputdefault">Enter DockerHub URL</label>
  </div>
</div>
<div class="row">
  <form name="urlForm">
    <div class="col-sm-8">
      <input class="form-control" name="urlButton" type="url" ng-model="urlName" placeholder="http://<dockerhubUrl>:<dockerhubPort>" required>  
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary" ng-disabled="urlForm.urlButton.$invalid || urlForm.urlButton.$pristine || urlForm.urlButton.$error.url" ng-click="submit()">Submit</button>  
    </div>
  </form>
</div>

  

